In [27]:
def cel_to_far(d):
  print(f'{d} degrees C is F ' , end=" ")
  return (d * (9/5) + 32)
def far_to_cel(f):
    print(f'{f} degrees of F is ' , end=" ")
    return  ((f - 32) * (5/9))

b = int(input('Enter a temperature in degrees F:'))
print(far_to_cel(b))

a = int(input('Enter a temperature in degrees C:'))
print(cel_to_far(a))

Enter a temperature in degrees F:72
72 degrees of F is  22.22222222222222
Enter a temperature in degrees C:37
37 degrees C is F  98.60000000000001

In [38]:
def invest(amount, rate, years):
  for i in range(int(years)):
    amount = amount*rate
    print(f'year {i}:{amount}')
  print('year ' , int(years) ,':', end=" ")
  return amount

a = float(input('Enter amount:'))
b = float(input('Enter rate:'))
c = float(input('Enter years:'))

print(invest(a,b,c))

Enter amount:1
Enter rate:1.5
Enter years:20
year 0:1.5
year 1:2.25
year 2:3.375
year 3:5.0625
year 4:7.59375
year 5:11.390625
year 6:17.0859375
year 7:25.62890625
year 8:38.443359375
year 9:57.6650390625
year 10:86.49755859375
year 11:129.746337890625
year 12:194.6195068359375
year 13:291.92926025390625
year 14:437.8938903808594
year 15:656.8408355712891
year 16:985.2612533569336
year 17:1477.8918800354004
year 18:2216.8378200531006
year 19:3325.256730079651
year  20.0 : 3325.256730079651

In [41]:
def factors(num):
    for i in range(num+1):
      if i == 0:
        continue
      elif num % i == 0:
        print(i, ' is a factor of ', num)

num = int(input("Enter number:"))
print(factors(num))

Enter number:12
1  is a factor of  12
2  is a factor of  12
3  is a factor of  12
4  is a factor of  12
6  is a factor of  12
12  is a factor of  12
None

In [44]:
universities = [
    ['California Institute of Technology', 2175, 37704],
    ['Harvard', 19627, 39849],
    ['Massachusetts Institute of Technology', 10566, 40732],
    ['Princeton', 7802, 37000],
    ['Rice', 5879, 35551],
    ['Stanford', 19535, 40569],
    ['Yale', 11701, 40500]
]
def enrollment_stats(lst):
   enrolled = [val[1] for val in lst]
   tuitions = [val[2] for val in lst]
   return enrolled, tuitions

def mean(values):
    return sum(values) / len(values)

def median(values):
    sorted_values = sorted(values)
    mid = len(sorted_values) // 2
    if len(sorted_values) % 2 == 0:
        return (sorted_values[mid - 1] + sorted_values[mid]) / 2
    else:
        return sorted_values[mid]

enrolled, tuitions = enrollment_stats(universities)

total_students = sum(enrolled)
total_tuition = sum(tuitions)

student_mean = mean(enrolled)
student_median = median(enrollments)

tuition_mean = mean(tuitions)
tuition_median = median(enrolled)

print(f"Total students: {total_students:,}")
print(f"Total tuition: $ {total_tuition:,}\n")
print(f"Student mean: {student_mean:,.2f}")
print(f"Student median: {student_median:,.0f}\n")
print(f"Tuition mean: $ {tuition_mean:,.2f}")
print(f"Tuition median: $ {tuition_median:,.0f}")

Total students: 77,285
Total tuition: $ 271,905

Student mean: 11,040.71
Student median: 10,566

Tuition mean: $ 38,843.57
Tuition median: $ 10,566

In [52]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True
a = int(input("is_prime?:"))
print(is_prime(a))

is_prime?:12
False